h1, h2, h3, h4, h5, h6, #console {
  font-family: 'Commodore'; }

body > .container {
  padding: 2em 5%; }

form#auth {
  margin: 0 auto;
  width: 60%;
  font-size: 1.5em; }
  form#auth button.submit {
    width: 2em;
    color: #fff;
    background-color: #000;
    border: none;
    height: 2em; }
  form#auth input {
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    font-size: 1em;
    width: calc(100% - 4em);
    float: left;
    height: 2em;
    text-align: center; }
  form#auth .toggle-visible {
    float: left;
    font-size: 1.2em;
    line-height: 1.7em;
    padding-right: .5em; }

ul {
  list-style-type: none; }

.btn-check {
  border-radius: 50%;
  background-color: #5F5;
  border: none; }

body:not(#admin) {
  background-color: #222;
  color: #fff;
  font-size: 16px; }
  body:not(#admin) .navbar {
    border: none;
    border-bottom: 1px solid #32cd00;
    background-color: #222;
    color: #fff; }
    body:not(#admin) .navbar #logo {
      padding: 1em 2em;
      float: left;
      max-width: 25%; }
      @media (max-width: 768px) {
        body:not(#admin) .navbar #logo {
          max-width: 85%;
          padding: 1em 10% 1em 5%; } }
    body:not(#admin) .navbar nav {
      position: absolute;
      right: 0; }
      @media (min-width: 769px) {
        body:not(#admin) .navbar nav {
          bottom: 0; } }
      @media (max-width: 768px) {
        body:not(#admin) .navbar nav {
          width: 100%;
          padding: 0; } }
      body:not(#admin) .navbar nav ul {
        float: right;
        margin: 0 1em; }
        @media (max-width: 768px) {
          body:not(#admin) .navbar nav ul {
            width: 100%;
            padding: 0;
            margin: 0; } }
        body:not(#admin) .navbar nav ul li {
          float: left;
          font-size: 1.5em; }
          @media (max-width: 768px) {
            body:not(#admin) .navbar nav ul li {
              width: 100%; } }
          body:not(#admin) .navbar nav ul li a {
            padding: .5em;
            display: inline-block;
            color: #32cd00;
            border: 2px solid #222;
            border-bottom: none; }
            @media (max-width: 768px) {
              body:not(#admin) .navbar nav ul li a {
                background-color: #333;
                color: #32cd00;
                width: 100%; } }
            body:not(#admin) .navbar nav ul li a.active, body:not(#admin) .navbar nav ul li a:hover, body:not(#admin) .navbar nav ul li a:focus, body:not(#admin) .navbar nav ul li a:active {
              text-decoration: none; }
              @media (min-width: 769px) {
                body:not(#admin) .navbar nav ul li a.active, body:not(#admin) .navbar nav ul li a:hover, body:not(#admin) .navbar nav ul li a:focus, body:not(#admin) .navbar nav ul li a:active {
                  border-color: #32cd00; } }
  body:not(#admin) .navbar-toggle:focus, body:not(#admin) .navbar-toggle:active, body:not(#admin) .navbar-toggle:hover {
    color: #32cd00; }
  body:not(#admin) .navbar-collapse {
    z-index: 1; }

#overview {
  font-size: 1.2em; }
  #overview h1, #overview h2, #overview h3, #overview h4, #overview h5, #overview h6 {
    color: #32cd00; }
  #overview .profile {
    float: right;
    background-color: rgba(50, 205, 0, 0.2);
    margin-bottom: 2em;
    border: 1px solid #32cd00; }
    @media (max-width: 768px) {
      #overview .profile {
        float: none;
        display: inline-block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; } }
    #overview .profile .ident {
      text-align: right;
      padding: 1em; }
    #overview .profile img {
      width: 100px;
      padding: 1em 0;
      margin: 1em 0;
      float: left;
      background-color: #222; }
  #overview a {
    color: #32cd00; }
  @media (max-width: 768px) {
    #overview .stats {
      width: 80%;
      margin: 0 10%; } }
  #overview .stats .green {
    color: #32cd00 !important; }
  @media (min-width: 371px) {
    #overview .stats .temp-label {
      display: none; } }
  #overview .stats .temp-label span {
    color: #F2A100; }
  #overview #equalizer {
    height: 50px;
    width: 150px;
    margin: auto; }
    #overview #equalizer span {
      background-color: #32cd00;
      display: block;
      width: 1px;
      float: left;
      margin-right: 2px; }
  #overview .progress {
    background-color: inherit;
    border-radius: 0; }
    #overview .progress .progress-bar {
      background-color: #32cd00; }
  #overview .fa {
    color: #32cd00; }

main#home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: auto;
  width: 50%; }
  main#home #logo {
    width: 75%;
    margin: 0 auto;
    display: block;
    margin-bottom: 5em; }

#console {
  margin: 0;
  box-sizing: border-box;
  color: #FFF;
  background-color: #000; }
  #console .console {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: none;
    background-color: #000;
    padding: 1em;
    height: 100vh; }
  #console .indicator {
    color: #32CD00;
    width: 10%; }
  #console .functions span.fn {
    width: 40%;
    color: #32cd00;
    display: inline-block; }
    @media (max-width: 768px) {
      #console .functions span.fn {
        width: 65%; } }
  #console #command {
    cursor: none;
    background-color: #000;
    color: #FFF;
    border: none;
    font-family: 'Commodore';
    width: 90%;
    font-size: 100%; }
    #console #command:focus {
      outline: none; }
  #console #screen {
    margin: .5em 0;
    font-size: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    position: relative; }
    #console #screen #output {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      overflow-y: scroll;
      width: 104%;
      padding-right: 2vw; }
      #console #screen #output p {
        overflow-wrap: break-word;
        max-width: 95%; }
  #console #maze {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

#mastermind {
  padding: 0; }
  @media screen and (orientation: portrait) {
    #mastermind .controls, #mastermind .attempts, #mastermind #check {
      display: none !important; }
    #mastermind #portrait-label {
      display: block !important; } }
  #mastermind * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #mastermind #portrait-label {
    display: none; }
  #mastermind .proceed {
    display: none; }
  #mastermind .colors {
    display: inline-block;
    text-align: center;
    width: 75%;
    float: left;
    color: #555; }
    @media (max-width: 768px) {
      #mastermind .colors {
        width: 75%; }
        #mastermind .colors i {
          font-size: 3em !important; } }
    @media (max-width: 520px) {
      #mastermind .colors i {
        font-size: 2.5em !important; } }
  #mastermind .verify {
    width: 25%;
    float: left; }
    @media (max-width: 768px) {
      #mastermind .verify {
        width: 20%; } }
    #mastermind .verify .row .color {
      float: left;
      margin: 0 .25em; }
      #mastermind .verify .row .color.correct {
        color: #80ff00; }
      #mastermind .verify .row .color.right-color {
        color: #ffff53; }
  #mastermind .controls {
    margin-top: 2em; }
    #mastermind .controls .verify {
      display: none; }
  #mastermind .col-md-12 {
    text-align: center; }
    #mastermind .col-md-12 #check {
      width: 50%;
      margin-top: 2em;
      display: inline-block;
      text-align: center;
      background-color: #27a200; }
    #mastermind .col-md-12 .message.success {
      margin-top: 2em; }
    #mastermind .col-md-12 .proceed {
      background-color: #27a200; }

#admin h2 {
  text-align: center; }
#admin > .container {
  margin-top: 50px;
  padding-top: 4em;
  font-size: 17px; }
#admin .navbar-brand {
  padding: .5em 1em; }
  #admin .navbar-brand #logo {
    max-height: 100%; }
#admin .nav {
  float: right; }
#admin .settings {
  width: 500px;
  margin: 0 auto; }
  #admin .settings h4 {
    margin-top: 2em; }
  @media (max-width: 768px) {
    #admin .settings {
      width: 90%; } }
  #admin .settings > div {
    margin-top: 3em; }
  #admin .settings form ul {
    padding-left: 0; }
    #admin .settings form ul li {
      margin-bottom: .5em; }
  #admin .settings form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding: .5em; }
    #admin .settings form input[type="number"] {
      width: 3em; }
    #admin .settings form input:focus {
      outline: solid #000 thin; }
  #admin .settings form textarea {
    width: 100%; }
  #admin .settings form button[type="submit"] {
    margin-top: 1em; }
    #admin .settings form button[type="submit"].btn-submit:hover, #admin .settings form button[type="submit"].btn-submit:active, #admin .settings form button[type="submit"].btn-submit:focus {
      background-color: #32BD00 !important;
      color: white !important; }
  #admin .settings .cancel {
    float: right; }
#admin .alert-success, #admin .alert-danger {
  margin-top: 50px;
  text-align: center; }
#admin .controls {
  width: 500px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    #admin .controls {
      width: 90%;
      margin: 0 auto; } }
  #admin .controls .row, #admin .controls #start {
    margin: 5em auto; }
  #admin .controls .btn-start, #admin .controls .btn-stop {
    background-color: #36b729;
    color: #fff;
    width: 100%;
    padding: .5em 0;
    display: block;
    text-align: center; }
    #admin .controls .btn-start:active, #admin .controls .btn-stop:active, #admin .controls .btn-start:focus, #admin .controls .btn-stop:focus, #admin .controls .btn-start:hover, #admin .controls .btn-stop:hover {
      text-decoration: none; }
  #admin .controls .btn-stop {
    background-color: #df3232; }
  #admin .controls .col-md-6 button {
    width: 100%; }
#admin .navbar-toggle:hover, #admin .navbar-toggle:active, #admin .navbar-toggle:focus {
  color: #222; }
#admin #login {
  margin: 5em auto;
  width: 50%; }
  @media (max-width: 768px) {
    #admin #login {
      width: 100%; } }
  #admin #login input, #admin #login button {
    width: 90%;
    margin: 0 5%; }

@font-face {
  font-family: 'Commodore';
  src: url("../fonts/Commodore.ttf"); }
@media (max-width: 768px) {
  .navbar ul, .navbar ul > li {
    width: 100%;
    float: left; } }
form .btn-submit {
  color: white;
  background-color: #333;
  border: 0; }

input, button, textarea {
  border-radius: 0 !important; }

#winner, #loser {
  background-color: rgba(43, 84, 29, 0.7);
  margin-bottom: 2em;
  border: 1px solid #32cd00;
  color: #32cd00;
  text-align: center;
  display: none;
  position: fixed;
  width: 50%;
  height: 20em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 2em;
  font-size: 18px;
  z-index: 10; }
  @media (max-width: 768px) {
    #winner, #loser {
      position: relative;
      width: 100%;
      height: 18em; } }
  @media (max-width: 520px) {
    #winner, #loser {
      padding: 1em; } }
  #winner h2, #loser h2 {
    padding-bottom: 1em; }
  #winner .close, #loser .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 11;
    color: #32cd00;
    font-size: 2em;
    opacity: 1;
    text-shadow: none; }
    #winner .close:hover, #winner .close:active, #loser .close:hover, #loser .close:active {
      opacity: .6; }

#loser {
  border-color: #E60020;
  background-color: rgba(159, 0, 0, 0.78);
  color: #e60000; }

/*# sourceMappingURL=style.css.map */
